<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<description>
		</description>
		<display-name>CriptografiaServlet</display-name>
		<servlet-name>CriptografiaServlet</servlet-name>
		<servlet-class>br.com.sysmanager.servlets.CriptografiaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DescriptografiaServlet</display-name>
		<servlet-name>DescriptografiaServlet</servlet-name>
		<servlet-class>br.com.sysmanager.servlets.DescriptografiaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FibonacciServlet</display-name>
		<servlet-name>FibonacciServlet</servlet-name>
		<servlet-class>br.com.sysmanager.servlets.FibonacciServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CriptografiaServlet</servlet-name>
		<url-pattern>/CriptografiaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DescriptografiaServlet</servlet-name>
		<url-pattern>/DescriptografiaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FibonacciServlet</servlet-name>
		<url-pattern>/FibonacciServlet</url-pattern>
	</servlet-mapping>
</web-app>